---
---


.project-name {
  text-transform: uppercase;
  text-align: center;
  padding: 180px;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
  background-position: center;
}

.jumbotron {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 400px;
  background: #ffebe5
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.main-content {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

p {
  padding: 40px;
}
