---
---


.project-name {
  text-transform: uppercase;
  text-align: center;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
}

.jumbotron {
  display: inline-block;
  position: relative;
  top: -10px;
  left: -10px;
  right: 10px;
  width: 100%;
  height: 200px;
  background: #ffebe5
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.main-content {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

p {
  padding: 40px;
}
