----
----

.project-name {
  text-transform: uppercase;
  text-align: center;
  padding: 160px;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
  background: #ffebe5;
}

.hero {
    height: 100%;
    background-color: #ffebe5;
    cursor: default;
}

.hero h1 {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 21rem;
    z-index: 2;
}

.hero h6 {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.main-content {
  font-family: karla, sans-serif;
}

h2 {
  letter-spacing: 4px;
  font-size: 20px;
}
p {
   letter-spacing: 2px;
  font-size: 12px;
  padding: 40px;
}
