---
---


.project-name {
  text-transform: uppercase;
  text-align: center;
  padding: 160px;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
  background-position: center;
}

.jumbotron {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1485841890310-6a055c88698a?dpr=1&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.main-content {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

p {
  padding: 40px;
}
