---
---


.project-name {
  text-transform: uppercase;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 8px;
}
