---
---


.project-name {
  text-transform: uppercase;
  text-align: center;
  font-family: karla, sans-serif;
  letter-spacing: 4px;
  font-size: 28px;
}

.banner {
  background: #ffebe5;
  height: 700px;
}

.site-footer-credits {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
}

.main-content {
  font-family: karla, sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

p {
  padding: 40px;
}
